# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IntelliJ IDEA
.idea/
*.iml

# Logs
logs/
*.log

# Environment
.env
*.bak
src/main/resources/application.yaml

# OS
.DS_Store

# Backup
migrations-backup/
